.information {
  padding: 0 1rem;
  width: max-content;
}

.order-number {
  width: fit-content;
}

.item img {
  display: block;
  width: -webkit-fill-available;
}

.picture {
  width: -webkit-fill-available;
}

.flexHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexHeader a {
  padding: 0 0.5rem;
}

.selector-container {
  margin-left: auto;
  width: 300px;
  margin-right: 30px;
}

.chip-container {
  justify-content: space-between;
  display: flex;
  width: 260px;
  padding-top: 10px;
}

.actions {
  justify-content: space-between;
  display: flex;
  width: 400px;
}

.user-info {
  color: white;
  padding: 2%;
  display: flex;
  flex-direction: column;
  background-color: #77002e;
  border-radius: 15px;
  align-items: center;
}

.user-avatar {
  margin-right: 10px;
}

.user-info-avatar-username {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-follow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
