.information {
  padding: 0 1rem;
  width: max-content;
}

.order-number {
  width: fit-content;
}

.item img {
  display: block;
  width: -webkit-fill-available;
}

.picture {
  width: -webkit-fill-available;
}

.flexHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexHeader a {
  padding: 0 0.5rem;
}
