body {
  margin: 0;
}

.warning {
  background-color: #ffeb3b;
  border-radius: 5px;
  margin-top: 5px;
}

a {
  cursor: pointer;
}

.flex {
  display: flex;
}

.left {
  width: 50%;
  float: left;
}

.center {
  text-align: center;
}

input[type='file'] {
  color: rgba(0, 0, 0, 0);
}

h1 {
  text-transform: capitalize;
}

p::first-letter {
  text-transform: uppercase;
}
